.buttonCreate{
    display: flexbox;
    flex-direction: row;
    position: absolute;
    width: 55px;
    font-weight: bold;
    height: 55px;
    background-image:linear-gradient(to bottom, #a35ee8, #8f6ce2, #7a6adc, #6467d6, #4c64cf);
    border: none;
    color: #fff;
    font-size: 50px;
    right: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    padding-top: 0.5%;
    z-index: 1;
}

.buttonCreate:hover{
    background-image: radial-gradient(circle, #daded3, #95aba1, #537a7c, #1c495d, #051937);
    border:none;
    animation: giro;
    animation-duration: 1s;
    animation-delay: 0s;
    cursor: pointer;
}
@keyframes giro {
    0%{
        rotate: 0;
    }
    100%{
        rotate: 720deg;
    }
}
